@import 'variables';

.wp-editor {
	color: #000;
	font: 300 100%/1.5 'Oxygen', 'Helvetica Neue', 'Arial', sans-serif;
	background: #FFF;
}

a,
a:visited {
	transition: color 0.25s ease;
	color: $accent-color;
	text-decoration: underline;
}

a:hover {
	color: $accent-color-secondary;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.375em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.125em;
}

img {
	max-width: 100%; /* Fluid images */
	height: auto;
	margin: 2.5% auto;
}

blockquote {
	font-style: italic;
	padding: 0 0 0 2.55%;
	border-left: 1px solid #000;
	margin: 1% 0;
}

/* Captions */
.wp-caption,
.html5-captions .wp-caption {
	max-width: 100%;
	margin-bottom: 1.5em;
}

.wp-caption img[class*='wp-image-'] {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.wp-caption .wp-caption-dd {
	font-size: 0.85em;
	line-height: 1.65;
	padding: 0;
	margin: 0.8075em 0;
}

/* Galleries */
.gallery {
	margin: auto auto 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 0 4px 4px 0;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery .gallery-caption {
	font-size: 0.85em;
	text-align: center;
	margin: auto;
}

.gallery-columns-1 .gallery-caption {
	max-width: 20em;
}

.gallery-columns-3 .gallery-caption,
.gallery-columns-4 .gallery-caption,
.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

@media only screen and (min-width: 35em) {
	.gallery-columns-3 .gallery-caption,
	.gallery-columns-4 .gallery-caption {
		display: block; /* Show galleries that will fit on tablet-sized screens. */
	}
}

@media only screen and (min-width: 50em) {
	.gallery-columns-5 .gallery-caption {
		display: block; /* Show galleries that will fit on desktop-sized screens. */
	}
}

.gallery a img {
	display: block;
	border: none;
}

/* Alignment */
.alignleft, .wp-caption.alignleft {
	display: inline;
	float: left;
	margin-right: 2.5%;
}

.alignright, .wp-caption.alignright {
	display: inline;
	float: right;
	margin-left: 2.5%;
}

.aligncenter, .wp-caption.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}