
config.codekit

node_modules/

# Built Files
style.css
editor-style.css
styles/*.css
styles/*.map
styles/src/.sass-cache/
styles/src/reset/_normalize.scss
scripts/*.js
scripts/srcmaps/
scripts/src/modernizr.js
docs/*.html