body#tinymce.wp-editor { 
	font: 300 100%/1.5 "Oxygen", "Helvetica Neue", "Arial", sans-serif;
	background: #FFFFFF;
	color: #000000;
}

body#tinymce.wp-editor a {
	transition: color 0.25s ease-out;
	text-decoration: underline;
	color: #009BCD;
}

	body#tinymce.wp-editor a:hover {
		color: #007EA6;
	}
	
	body#tinymce.wp-editor a:visited {
		color: #009BCD;
	}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.375em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.125em;
}

img {
	margin: 2.5% auto;
	max-width: 100%; /* Fluid images */
	height: auto;
}

blockquote {
	margin: 1% 0;
	padding: 0 0 0 2.55%;
	border-left: 1px solid #000;
	font-style: italic;
}

/* Alignment */
.alignleft, .wp-caption.alignleft {
	display: inline;
	float: left;
	margin-right: 2.5%;
}

.alignright, .wp-caption.alignright {
	display: inline;
	float: right;
	margin-left: 2.5%;
}

.aligncenter, .wp-caption.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* Captions */
.wp-caption, .html5-captions .wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.wp-caption .wp-caption-dd {
	font-size: 1em;
	line-height: 1.65;
	padding: 0;
	margin: 0.8075em 0;
}

/* Galleries */
.gallery {
	margin: auto auto 1.5em;
}

.gallery-item {
	float: left;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery .gallery-caption {
	text-align: center;
	margin: auto;
}

.gallery-columns-1 .gallery-caption {
	max-width: 20em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.gallery a img {
	display: block;
	border: none;
	height: auto;
	max-width: 90%;
}