html {
	box-sizing: border-box; /* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: var(--background-color); /* Fallback for when there is no custom background color defined. */
}

hr {
	height: 1px;
	border: 0;
	margin-bottom: 1.5em;
	background-color: #CCC;
}

/* Lists */
ul,
ol {
	margin: 0 0 1.5em 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Tables */
table {
	width: 100%;
	margin: 0 0 1.5em;
}