body,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: 'Oxygen', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.5;
}

body {
	-webkit-overflow-scrolling: touch; /* Corrects touch events not being passed to body if `-webkit-overflow-scrolling: touch;` is used on any other elements */
	text-align: left;
	margin: 0;
	background-color: #E3E5E7;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}